extends layout

block content
    head
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
        script(type="text/javascript", src="timer.js")
        link(rel="stylesheet" href="/main.css" type="text/css")
    
        
    body
        center
          ul.countdown
            li
              span.days 00
              p.days_ref days
            li.seperator .
            li
              span.hours 00
              p.hours_ref hours
            li.seperator :
            li
              span.minutes 00
              p.minutes_ref minutes
            li.seperator :
            li
              span.seconds 00
              p.seconds_ref seconds
            button#stop(onclick="stopTime()") stop
            br
            br
            input#name(placeholder="name")
            button#submit(onclick="submit()") submit


        
